/RCShearWall_V2/RCWall_Data/Original_Data/Original_Data.csv
/RCShearWall_V2/RCWall_Data/Original_Data/Original_Data_30K.csv
/RCShearWall_V2/RCWall_Data/Processed_Data/Data_19K/Scaler/disp_cyclic_scaler.joblib
/RCShearWall_V2/RCWall_Data/Processed_Data/Data_19K/Scaler/param_scaler.joblib
/RCShearWall_V2/RCWall_Data/Processed_Data/Data_19K/Scaler/shear_cyclic_scaler.joblib
/RCShearWall_V2/RCWall_Data/Processed_Data/Data_19K/InputCyclicDisplacement.csv
/RCShearWall_V2/RCWall_Data/Processed_Data/Data_19K/InputCyclicDisplacement.parquet
/RCShearWall_V2/RCWall_Data/Processed_Data/Data_19K/InputParameters.csv
/RCShearWall_V2/RCWall_Data/Processed_Data/Data_19K/InputParameters.parquet
/RCShearWall_V2/RCWall_Data/Processed_Data/Data_19K/OutputCyclicShear.csv
/RCShearWall_V2/RCWall_Data/Processed_Data/Data_19K/OutputCyclicShear.parquet
/RCShearWall_V2/RCWall_Data/Processed_Data/Data_30K/Scaler/disp_cyclic_scaler.joblib
/RCShearWall_V2/RCWall_Data/Processed_Data/Data_30K/Scaler/param_scaler.joblib
/RCShearWall_V2/RCWall_Data/Processed_Data/Data_30K/Scaler/shear_cyclic_scaler.joblib
/RCShearWall_V2/RCWall_Data/Processed_Data/Data_30K/InputCyclicDisplacement.csv
/RCShearWall_V2/RCWall_Data/Processed_Data/Data_30K/InputCyclicDisplacement.parquet
/RCShearWall_V2/RCWall_Data/Processed_Data/Data_30K/InputParameters.csv
/RCShearWall_V2/RCWall_Data/Processed_Data/Data_30K/InputParameters.parquet
/RCShearWall_V2/RCWall_Data/Processed_Data/Data_30K/OutputCyclicShear.csv
/RCShearWall_V2/RCWall_Data/Processed_Data/Data_30K/OutputCyclicShear.parquet
/RCShearWall_V2/RCWall_Data/Processed_Data.csv
/RCShearWall_V1/RCWall_Data/Dataset_full/Scaler/disp_cyclic_scaler.joblib
/RCShearWall_V1/RCWall_Data/Dataset_full/Scaler/param_scaler.joblib
/RCShearWall_V1/RCWall_Data/Dataset_full/Scaler/shear_cyclic_scaler.joblib
/RCShearWall_V1/RCWall_Data/Dataset_full/InputCyclicDisplacement.parquet
/RCShearWall_V1/RCWall_Data/Dataset_full/InputParameters.parquet
/RCShearWall_V1/RCWall_Data/Dataset_full/InputPushoverDisplacement.parquet
/RCShearWall_V1/RCWall_Data/Dataset_full/OutputCyclicShear.parquet
/RCShearWall_V1/RCWall_Data/Dataset_full/OutputPushoverShear.parquet
/RCShearWall_V1/RCWall_Data/Dataset_full/Parameters.csv
/RCShearWall_V1/RCWall_Data/Validation/InputParameters_values.csv
/RCShearWall_V1/RCWall_Data/Validation/OutputDisplacement_values.csv
/RCShearWall_V1/RCWall_Data/Validation/OutputShear_values.csv
/RCShearWall_V1/RCWall_Data/RCWall_Dataset_full.csv
/RCShearWall_V1/RCWall_Data/ResultsDatabase.csv
/RCShearWall_V2/RCWall_Data/
/RCShearWall_V1/RCWall_Data/
